<ion-content class="ion-padding">
  <ion-slides #slides
              [pager]="true"
              [options]="config"
              (ionSlideNextStart)="swiperAnimating = true"
              (ionSlideNextEnd)="swiperAnimating = false">

    <!-- Slide 1 -->
    <ion-slide>
      <div class="onboarding-slide">
        <h1 class="mt-0">First let's verify your email</h1>
        <p class="mb-5">*Check your spam</p>
        <ion-button class="mb-3"
                    color="light"
                    [disabled]="verificationButtonDisabled"
                    expand="block"
                    (click)="sendVerificationEmail()">
          Send verification email
        </ion-button>
        <ion-button expand="block"
                    [disabled]="continueButtonDisabled || swiperAnimating"
                    (click)="verifyEmail()">
          Continue
        </ion-button>
      </div>
    </ion-slide>

    <!-- Slide 2 -->
    <ion-slide>
      <div class="onboarding-slide">
        <h1 class="mt-0 mb-5">Choose a new password</h1>

        <!-- Password form -->
        <form [formGroup]="passwordForm" (ngSubmit)="setNewPassword()">
          <div class="mb-1 ion-text-left">
            <ion-item>
              <ion-label position="floating">New password</ion-label>
              <ion-input formControlName="password"
                         type="password">
              </ion-input>
            </ion-item>
            <small *ngIf="(password.dirty || password.touched) && password.errors">
              <p *ngIf="password.errors?.required">Password is required</p>
              <p *ngIf="password.errors?.minlength">Password must be at least 6 characters</p>
            </small>
          </div>

          <div class="mb-3 ion-text-left">
            <ion-item>
              <ion-label position="floating">Confirm password</ion-label>
              <ion-input formControlName="confirm"
                         type="password">
              </ion-input>
            </ion-item>
            <small *ngIf="(confirm.dirty || confirm.touched) && confirm.errors">
              <p *ngIf="confirm.errors?.notSame">Passwords must match</p>
            </small>
          </div>

          <ion-button expand="block" [disabled]="passwordForm.invalid || continueButtonDisabled || swiperAnimating" type="submit">
            Continue
          </ion-button>
        </form>
      </div>
    </ion-slide>

    <!-- Slide 3 -->
    <ion-slide>
      <div class="onboarding-slide">
        <h1 class="mt-0">Enter your first and last name</h1>
        <p class="mb-5">*These are kept private</p>

        <form [formGroup]="firstLastNameForm" (ngSubmit)="setFirstLast()">
          <div class="mb-1 ion-text-left">
            <ion-item class="ion-no-padding">
              <ion-label position="floating">First name</ion-label>
              <ion-input formControlName="firstName">
              </ion-input>
            </ion-item>
            <small *ngIf="(firstName.dirty || firstName.touched) && firstName.errors">
              <p *ngIf="firstName.errors?.required">First name is required</p>
            </small>
          </div>

          <div class="mb-3 ion-text-left">
            <ion-item class="ion-no-padding">
              <ion-label position="floating">Last name</ion-label>
              <ion-input formControlName="lastName">
              </ion-input>
            </ion-item>
            <small *ngIf="(lastName.dirty || lastName.touched) && lastName.errors">
              <p *ngIf="lastName.errors?.required">Last name is required</p>
            </small>
          </div>

          <ion-button expand="block" [disabled]="firstLastNameForm.invalid || continueButtonDisabled || swiperAnimating" type="submit">
            Continue
          </ion-button>
        </form>
      </div>
    </ion-slide>

    <!-- Slide 4 -->
    <ion-slide>
      <div class="onboarding-slide">
        <h1 class="mt-0">Choose your screen name</h1>
        <p class="mb-5">*This is how you will appear to others</p>

        <form [formGroup]="usernameForm" (ngSubmit)="setUsername()">
          <div class="mb-3 ion-text-left">
            <ion-item class="ion-no-padding">
              <ion-label position="floating">Screen name</ion-label>
              <ion-input formControlName="username">
              </ion-input>
            </ion-item>
            <small *ngIf="(username.dirty || username.touched) && username.errors">
              <p *ngIf="username.errors?.required">Screen name is required</p>
            </small>
          </div>

          <ion-button expand="block" [disabled]="usernameForm.invalid || continueButtonDisabled || swiperAnimating" type="submit">
            Continue
          </ion-button>
        </form>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
