<google-map height="100%"
            width="100%"
            [center]="{lat: 44.9695, lng: -93.276}"
            [zoom]="13"
            [options]="{clickableIcons: false, disableDefaultUI: true, mapId: '556dce10fd536353', keyboardShortcuts: false}">
  <map-marker *ngFor="let point of mapPoints"
              [id]="point.id"
              [position]="point.location"
              [options]="{icon: svgMarker}"
              (mapClick)="openLocation(point)">
  </map-marker>
  <map-heatmap-layer [data]="mapPoints"
                     [options]="{radius: 35, maxIntensity: 100}">
  </map-heatmap-layer>
</google-map>
