<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <!-- Header -->
    <ion-row>
      <ion-col>
        <h2 class="mt-0">{{location.address}}</h2>
        <code class="m-0">Connected users: {{location.connectedUsers}}</code>
      </ion-col>
      <ion-col size="auto">
        <ion-button class="d-block mt-0" (click)="setFavorite()" [disabled]="isFavoriteLoading" color="light">
          <ion-icon *ngIf="!isFavorite" slot="icon-only" name="star-outline"></ion-icon>
          <ion-icon *ngIf="isFavorite" slot="icon-only" name="star"></ion-icon>
        </ion-button>
        <ion-button href="https://discord.gg/EfcfAK7dzP">
          Chat
          <ion-icon slot="end" name="logo-discord"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Map -->
    <ion-row class="my-4">
      <ion-col>
        <div class="map-container">
          <wr-map [locations]="[location]" [options]="mapConfig">
          </wr-map>
        </div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <h3 class="h2 mt-0">Access code</h3>
        <p class="access-code">{{location.code}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
