.access-code {
  font-family: var(--bs-font-monospace);
  font-size: 2rem;
  background-color: var(--ion-card-background);
  margin: 0 0 1rem;
  padding: 0.25rem;
  text-align: center;
  border-radius: 8px;
  letter-spacing: .5rem;
}
