ion-grid {
  ion-row {
    justify-content: center;
  }

  ion-col {
    max-width: 50em;
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-item {
  --padding-start: 0;
}
